@font-face {
  font-family: "Inter-Roman";
  src: url("/fonts/Inter-roman-latin.var.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}