@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Roman";
  src: url("/fonts/Inter-roman-latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}